.navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  border-radius: 5px;
  color: aliceblue;
}
a {
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
