.navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  color: aliceblue;
  background-color: aquamarine;
}
a {
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 100px); */
  grid-gap: 5px;
}

.src {
  width: 100px;
  height: 100px;
}
