.navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  color: aliceblue;
  background-color: aquamarine;
}
a {
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 100px); */
  grid-gap: 5px;
}

.src {
  width: 100px;
  height: 100px;
}
.Seachinput {
  margin: 1%;
  text-align: center;
}
.btn {
  border: none;
  font-size: larger;
  background-color: aquamarine;
  border-radius: 5px;
}
#search {
  width: 20%;
  height: 18px;
}
